@model IEnumerable<Helpers.Blog>

@{
    ViewBag.Title = "All blogs";
}

<h2>All blogs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "DetailsAboutBlog", new { id=item.Id })
        </td>
    </tr>
}

</table>
